@import "../../assets/css/variables";
.contact-us .content {
  margin-bottom: 62px;
}
.contactus {
     .search-bar {
         & > div {
           height: 48px;
   }
       .autocomplete {
           font-size: 17px !important;
       }
       .search-icon-wrapper {
           a {
            width: 36px;
             height: 36px;
           }
       }
   }
 .wrapper-autocomplete {
  
     position: fixed;
    top: 14px;
    z-index: 9999;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 40%;
        text-align: center;
    left: 50%;
    max-width: 800px;
  }
  .contact {
    background-color: $bg-gray;
    margin-top: 85px;
    margin-bottom: 35px;
    text-align: center;
    .title {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.09;
        color: $black;
        margin-top: 22px;
        }
        .details {
            font-size: 16px;
            font-weight: 300;
            line-height: 2.8;
            color: $gray;
            div {
                display: inline-block;
            }
            div:last-child {
                direction: ltr;
            }
        }
  
  }
  form {
      margin: 8px 35% 20px !important;
      .fields {
          .wrapper-input {
                  width: 100% !important;

          }
      }
   
      .submitBtn {
        margin-top: 20px;
        box-shadow: none !important;
        width: 121px !important;
        background-color: transparent !important;
        &>button {
            border-radius: 21px !important;
            background-color: $yellow !important;
          }
        }
  }
 
 }
 #openVSChat{
    right: 50% !important;
    left: 37% !important;
    bottom: 3px !important;
 }

 @media screen and (max-width: 767px) {
  .contactus {
      form {
          margin:0 4% 20px !important;
      }
      .header-site {
        height: 55px;
      }
      .wrapper-autocomplete {
        width: 90%;
        top: 55px;
        width: 100%;
        padding: 0 5%;
        background-color: $yellow;
        padding-bottom: 7px;
        z-index: 99;
      }
      .contact {
        margin-top: 111px;
        margin-bottom: 0px;
      }
       .search-bar > div.select.active {
        width: 35%;
      }
  }
}

#tawkchat-maximized-wrapper {
    direction: rtl !important;
}




