@import "../../assets/css/variables";
.campaignVideo-page {
  background-color: #FAE209 !important;
  video {
    width: 56% !important;
    height: 75% !important;
    margin: 0 auto;
  }
  .wrapper-img {
    height: 100%;
    .wrapper-div-desk {
      height: 100%;
    }
    .img-desk,
    .img-mob {
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  
    .img-desk {
      width: 50%;
      margin: 0 auto;
    }
  }
  a {
    cursor: pointer;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    &.link1 {
      top: 80%;
      left: 0;
      height: 10%;
      width: 52%;
    }
    &.link2 {
      top: 80%;
      right: 0;
      height: 10%;
      width: 48%;
    }
    &.link3 {
      top: 92%;
      left: 0;
      right: 0;
      height: 8%;
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .campaignVideo-page {
    position: relative;
    display: flex;
    justify-content: center;
    video {
      width: 100%    !important;
      height: auto   !important;
      margin: 30% auto 20% !important;
    }
    .wrapper-div-mobile {
      position: relative;
    }
    .img-mobile {
      cursor: pointer;
      width: 100%;
      background-size: 100%;
      position: relative;
      background-size: 100%;
      height: 100px;
      background-position-y: 55%;
    }
    .wrapper-img a img {
      width: 100%;
      margin-top: -24px;
    }
    .img-text {
      cursor: pointer;
      background-image: url(http://localhost:3001/dist/32f29c64e06799a17f6b78da26c33cd5.jpg);
      width: 100%;
      height: 27px;
      position: absolute;
      top: 81%;
      background-size: 100%;
      background-position-y: 46%;
    }
    a {
      &.link1 {
        top: 86% !important;
        left: 0;
        height: 7%;
        width: 54%;
      }
      &.link2 {
        top: 86% !important;
        right: 0;
        height: 7%;
        width: 48%;
      }
      &.link3 {
        top: 93% !important;
        width: 100%;
      }
    }
  }
}