@import "../../assets/css/variables";
.admin-requests {
  .table {
    table tr th:first-child  {
      display:none;
    }
    td {
      padding-right: 7px !important;
      padding-left: 7px !important;
    }
  }
  table {
    tbody {
      tr {
        &.new-record {
          background-color: $light-gray;
        }
      }
      td {
        .new-val {
          color: red;
        }
      }
    }
  }
}