@import "../../assets/css/variables";
.terms .content {
  margin-bottom: 62px;
}
.terms {
    .search-bar {
        & > div {
        height: 48px;
    }
    .autocomplete {
        font-size: 17px !important;
    }
    .search-icon-wrapper {
        a {
        width: 36px;
            height: 36px;
        }
    }
   }
 .wrapper-autocomplete {
    position: fixed;
    top: 14px;
    z-index: 9999;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 40%;
    text-align: center;
    left: 50%;
    max-width: 800px;
  }
  .hdr {
    background-color: $bg-gray;
    margin-top: 85px;
    margin-bottom: 35px;
    text-align: center;
      padding: 9px;
    .title {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
      color: $black;
      padding: 5px;
    }
    .text {
     font-size: 16px;
     font-weight: 300;
     line-height: 1.5;
     color: $gray;
    }
  }
  .content-terms {
    margin: 0 auto;
    width: 46%;
    font-size: 12px;
    .wrap-term {
       margin-bottom: 14px;
         .text {
            color: $gray;
            margin: 14px 0;
            font-size: 17px;
        }
    }   
  }
}
 @media screen and (max-width: 767px) {
  .terms {
      .header-site {
        height: 55px;
      }
      .wrapper-autocomplete {
        width: 90%;
        top: 55px;
        width: 100%;
        padding: 0 5%;
        background-color: $yellow;
        padding-bottom: 7px;
        z-index: 99;
      }
       .search-bar > div.select.active {
        width: 35%;
      }
    .hdr {
       margin-top: 111px;
  
    }
    .content-terms {
      margin: 2px 4% 20px !important;
      width: 92%;
    }
  }
}
